<div class="item-add-component  d-flex  flex-column"
     data-controller="ItemPriceAddComponent"
     data-action="ItemPriceAddComponent:clear->ItemPriceAddComponent#handleMessageclear">

    <div data-js-items-add-container>

    </div>

    <button class="btn btn-primary  rounded-0  rounded-bottom  align-self-end"
            type="button"
            title="{{ data.itemPriceAddButtonTitle }}"
            alt="{{ data.itemPriceAddButtonAlt }}"
            data-js-item-add-button>

        {{ data.itemPriceAddButtonLabel }}
    </button>

    <template id="item_add_template">
        <div class="input-group  mb-3"
             data-js-item-container>

            <label for="name"
                   class="form-label">

                {{ data.itemNameLabel }}
            </label>

            <div class="input-group"
                 data-js-item-group>

                <input type="hidden"
                       name="{{ data.itemIdFieldName}}"
                       value="{{ data.itemIdFieldValue }}"
                       data-js-item-id>

                <input type="text"
                       class="form-control  item-add-component__item-name"
                       maxlength="50"
                       name="{{ data.itemNameFieldName }}"
                       placeholder="{{ data.itemNamePlaceholder }}"
                       value="{{ data.itemNameFieldValue }}"
                       data-bs-target="#{{ data.itemSelectModalIdAttribute }}"
                       data-bs-toggle="modal"
                       required
                       data-js-item-name />

                <input type="text"
                       class="form-control  item-add-component__item-price"
                       pattern="\d{1,5}(\.\d{1,2})?"
                       name="{{ data.itemPriceFieldName }}"
                       placeholder="{{ data.itemPricePlaceholder }}"
                       value="{{ data.itemPriceFieldValue }}"
                       data-js-item-price />

                <span class="input-group-text"
                      id="name">

                    {{ data.itemPriceCurrencyLabel }}
                </span>

                <button class="btn btn-danger  item-add-component__item-remove-button"
                        title="{{ data.itemRemoveAddButtonTitle }}"
                        alt="{{ data.itemRemoveAddButtonAlt }}"
                        data-js-item-remove-button>
                    {% include "remove-icon-red-24x24.svg" %}
                </button>
            </div>
            <div class="invalid-feedback">
                {{ data.itemNameMsgInvalid }}
                {{ data.itemPriceMsgInvalid }}
            </div>
        </div>
    </template>
</div>