<form id="{{ formName }}"
	  name="{{ formName }}"
	  data-controller="ProductModifyComponent"
	  data-action="ImageAvatarComponent:imageRemoved->ProductModifyComponent#setImageAvatarAsRemoved
	  			   ImageAvatarComponent:imageRemovedUndo->ProductModifyComponent#setImageAvatarAsRemoved
				   ProductModifyComponent:avatarSetImage->ImageAvatarComponent#handleMessageSetImage
				   ProductListItemComponent:homeListItemModify@window->ProductModifyComponent#handleMessageHomeListItemModify
				   ModalComponent:beforeShowed->ProductModifyComponent#handleMessageBeforeShowed
				   ItemPriceAddComponent:itemPriceSelected->ProductModifyComponent#handleItemNameClickEvent"
	  class="contaniner  p-4  pt-0  d-flex flex-column  justify-content-center"
	  method="post"
	  enctype="multipart/form-data"
	  data-action-placeholder="{{ data.formActionUrlPlaceholder|escape('html_attr') }}"
	  data-modal-component-content
	  novalidate>

	<input type="hidden"
		   name="{{ tokenCsrfFieldName }}"
		   value="{{ data.csrfToken }}" />

	<input type="hidden"
		   name="{{ imageRemoveFieldName }}"
		   data-js-image-remove />

	{% if lang.validationErrors %}
	{{ component('AlertComponent', { data: lang.validationErrors }) }}
	{% endif %}


	{{ component('TitleComponent', { data: titleDto } ) }}

	<div class="mb-5  align-self-center  product-modify__image">
		{{ component('ImageAvatarComponent', { data: imageAvatarDto }) }}
	</div>

	<div class="mb-3">
		<label for="name"
			   class="form-label">
			{{ lang.nameLabel }}
		</label>
		<input type="text"
			   class="form-control"
			   id="name"
			   maxlength="50"
			   pattern="[A-Za-zÀ-ÿ0-9_\s]+"
			   name="{{ nameFieldName }}"
			   placeholder="{{ lang.namePlaceholder }}"
			   value="{{ data.name }}"
			   data-js-product-name
			   required />
		<div class="invalid-feedback">
			{{ lang.nameMsgInvalid }}
		</div>
	</div>

	<div class="mb-3">

		<label for="description"
			   class="form-label">
			{{ lang.descriptionLabel }}
		</label>

		<textarea class="form-control"
				  id="description"
				  name="{{ descriptionFieldName }}"
				  maxlength="500"
				  placeholder="{{ lang.descriptionPlaceholder }}"
				  data-js-product-description>{{ data.description }}</textarea>
		<div class="invalid-feedback">
			{{ lang.descriptionMsgInvalid }}
		</div>
	</div>

	<div class="mb-3">
		{{ component('DropZoneComponent', { data: imageDto }) }}
	</div>

	<fieldset class="mt-2">
		<legend class="mb-3  pb-1  border-bottom">
			{{ lang.shopsTitle }}
		</legend>

		{{ component('ItemPriceAddComponent', { data: itemPriceAddDto } ) }}
	</fieldset>

	<div class="d-flex  flex-row  mt-5">
		<button type="button"
				class="btn  btn-transparent  me-4"
				data-action="ProductModifyComponent#modalClose">

			{% include "common/arrow-back-icon.svg" %}

			<span class="align-text-top">
				{{ lang.closeButton }}
			</span>
		</button>

		<input type="submit"
			   class="btn  btn-primary  flex-grow-1"
			   name="{{ submitFieldName }}"
			   value="{{ lang.productModifyButton }}" />
	</div>
</form>