<form id="{{ formName }}"
	  name="{{ formName }}"
	  data-controller="EmailChangeComponent"
	  class="contaniner  p-5"
	  method="post"
	  action="{{ data.actionAttribute|escape('html_attr') }}"
	  enctype="multipart/form-data"
	  novalidate>
	<input type="hidden"
		   name="{{ tokenCsrfFieldName }}"
		   value="{{ data.csrfToken }}" />

	{% if lang.validationErrors %}
	{{ component('AlertValidationComponent', { data: lang.validationErrors }) }}
	{% endif %}


	<div class="mb-5 pt-5 display-4 text-center">
		{{ lang.title }}
	</div>

	<div class="mb-3">
		<label for="email"
			   class="form-label">{{ lang.emailLabel }}</label>
		<input type="email"
			   class="form-control"
			   id="email"
			   name="{{ emailFieldName }}"
			   pattern=".{6,}"
			   placeholder="{{ lang.emailPlaceholder }}"
			   value="{{ data.email }}"
			   required>
		<div class="invalid-feedback">{{ lang.emailMsgInvalid }}</div>
	</div>

	<div class="mb-3">
		<label for="password"
			   class="form-label">{{ lang.passwordLabel }}</label>
		<input type="password"
			   class="form-control"
			   id="password"
			   name="{{ passwordFieldName }}"
			   pattern=".{6,}"
			   placeholder="{{ lang.passwordPlaceholder }}"
			   value="{{ data.password }}"
			   required>
		<div class="invalid-feedback">{{ lang.passwordMsgInvalid }}</div>
	</div>

	<div class="mt-5">
		<input type="submit"
			   class="btn btn-primary w-100"
			   name="{{ submitFieldName }}"
			   value="{{ lang.emailChangeButton }}" />
	</div>
</form>