<li class="list-group-item  list-group-item-action  d-flex  flex-row  p-0  mt-1  mb-1  border  border-1  border-light-subtle  list-orders-list-item"
    data-controller="ListOrdersListItemComponent"
    data-item-data="{{ productDataJson }}"
    data-js-list-item>

    <label class="d-flex  flex-row  flex-grow-1  align-items-center">

        <input class="form-check-input m-2  align-self-center"
               type="checkbox"
               data-js-checkbox>

        <div class="flex-grow-0  border-0  list-orders-list-item__image  p-0"
             title="{{ lang.imageItemTitle }}"
             data-js-item-image>

            {% include "common/list_orders/list-orders-no-image.svg" %}
        </div>

        <p class="fs-5  my-2  mx-2"
           data-js-item-name>
            {{ data.name }}
        </p>
    </label>

    <a href="{{ urlListOrders|escape('html_attr') }}"
       class="d-flex  list-orders-list-item__button--orders-list"
       role="button"
       title="{{ lang.ordersLinkItemButtonTitle }}">

        <button type="button"
                class="btn  w-100  px-4  rounded-0  border  border-0  border-start  border-end-0  border-light-subtle  btn-outline-primary  list-orders-list__button-orders  button-primary-color-dark">

            {% include "common/list_orders/list-orders-icon-go-orders.svg" %}
        </button>
    </a>

    <button type="button"
            class="btn  px-3  py-2  rounded-0  border  border-0  border-start  border-end-0  border-light-subtle  btn-outline-primary  button-primary-color-dark  list-orders-list-item__button  list-orders-list-item__button--info"
            value="{{ data.id }}"
            alt="{{ lang.infoItemButtonAlt }}"
            title="{{ lang.infoItemButtonTitle }}"
            data-bs-toggle="modal"
            data-bs-target="#{{ data.infoFormModalIdAttribute }}"
            data-action="ListOrdersListItemComponent#sendMessageHomeListItemInfoToParent">

        {% include "common/info-icon.svg" %}
    </button>

    <div class="dropdown  dropstart">
        <button type="button"
                class="btn  border-light-subtle  btn-outline-primary  button-primary-color-dark  rounded-0  h-100  button-open-menu"
                data-bs-toggle="dropdown"
                aria-expanded="false">

            {% include "common/dots-vertical-icon.svg" %}

        </button>
        <ul class="dropdown-menu">
            <li>
                <button type="button"
                        class="d-flex  flex-row  btn  px-3  py-3  rounded-0  border  border-0  border-light-subtle  btn-outline-primary  button-primary-color-dark  list-orders-list-item__button  list-orders-list-item__button--info-menu"
                        value="{{ data.id }}"
                        alt="{{ lang.infoItemButtonAlt }}"
                        title="{{ lang.infoItemButtonTitle }}"
                        data-bs-toggle="modal"
                        data-bs-target="#{{ data.infoFormModalIdAttribute }}"
                        data-action="ListOrdersListItemComponent#sendMessageHomeListItemInfoToParent">
                    <div>

                        {% include "common/info-icon.svg" %}

                    </div>
                    <div class="ms-2">

                        {{ lang.infoItemButtonLabel }}

                    </div>
                </button>
            </li>

            <li>
                <button type="button"
                        class="d-flex  flex-row  btn  px-3  py-3  rounded-0  border  border-0  border-light-subtle  btn-outline-primary  button-primary-color-dark  list-orders-list-item__button  list-orders-list-item__button--menu"
                        value="{{ data.id }}"
                        alt="{{ lang.modifyItemButtonAlt }}"
                        title="{{ lang.modifyItemButtonTitle }}"
                        data-bs-toggle="modal"
                        data-bs-target="#{{ data.modifyFormModalIdAttribute }}"
                        data-action="ListOrdersListItemComponent#sendMessageHomeListItemModifyToParent">
                    <div>

                        {% include "common/modify-icon.svg" %}

                    </div>
                    <div class="ms-2">

                        {{ lang.modifyItemButtonLabel }}

                    </div>
                </button>
            </li>

            <li>
                <button type="button"
                        data-js-remove-button
                        class="d-flex  flex-row  btn  px-3  py-3  border  border-0  rounded-0  border-light-subtle  btn-outline-danger  list-orders-list-item__button--menu"
                        value="{{ data.id }}"
                        alt="{{ lang.removeItemButtonAlt }}"
                        title="{{ lang.removeItemButtonTitle }}"
                        data-bs-toggle="modal"
                        data-bs-target="#{{ data.deleteFormModalIdAttribute }}"
                        data-action="ListOrdersListItemComponent#sendMessageHomeListItemRemoveEvent">
                    <div>

                        {% include "common/remove-icon.svg" %}

                    </div>
                    <div class="ms-2">

                        {{ lang.removeItemButtonLabel }}

                    </div>
                </button>
            </li>
        </ul>
    </div>
</li>