<form id="{{ formName }}"
	  name="{{ formName }}"
	  data-controller="GroupUsersAddComponent"
	  class="contaniner  p-3  p-sm-4  pt-0"
	  method="post"
	  action="{{ data.formActionAttribute|escape('html_attr') }}"
	  enctype="multipart/form-data"
	  novalidate>

	{{ component('TitleComponent', { data: titleDto } ) }}

	{% if lang.validationErrors %}
	{{ component('AlertComponent', { data: lang.validationErrors }) }}
	{% endif %}

	<input type="hidden"
		   name="{{ tokenCsrfFieldName }}"
		   value="{{ data.csrfToken }}" />

	<input type="hidden"
		   name="{{ groupIdFieldName }}"
		   value="{{ data.groupId }}" />

	<div class="mb-3">
		<label for="name"
			   class="form-label">

			{{ lang.nameLabel }}
		</label>
		<input type="text"
			   class="form-control"
			   id="name"
			   maxlength="50"
			   name="{{ nameFieldName }}"
			   placeholder="{{ lang.namePlaceholder }}"
			   value="{{ data.name }}"
			   pattern="[A-Za-zÀ-ÿ0-9_\s]+"
			   required>

		<div class="invalid-feedback">
			{{ lang.nameMsgInvalid }}
		</div>
	</div>

	<div class="d-flex  flex-row  mt-5">
		<button type="button"
				class="btn  btn-transparent  me-2"
				data-bs-dismiss="modal">

			{% include "common/arrow-back-icon.svg" %}

			<span class="align-text-top">
				{{ lang.groupCloseButton }}
			</span>
		</button>
		<input type="submit"
			   class="btn btn-primary  flex-grow-1"
			   name="{{ submitFieldName }}"
			   value="{{ lang.groupUserAddButton }}" />

	</div>
</form>