<li class="list-group-item  list-group-item-action  d-flex  flex-row  p-0  mt-1  mb-1  border  border-1  border-light-subtle"
    data-controller="NotificationListItemComponent"
    data-item-data="{{ notificationDataJson }}"
    data-js-list-item>

    <label class="d-flex  flex-row  flex-grow-1">

        {% if data.image %}

        <div class="flex-grow-0  flex-shrink-0  border-0  notification-list-item__image  p-0  ms-2  d-flex justify-content-center  align-items-center"
             title="{{ lang.imageItemTitle }}"
             data-js-item-image>

            {% include "common/notification/notification-no-image.svg" %}
        </div>

        {% else %}

        <img class="flex-grow-0  flex-shrink-0  border-0  notification-list-item__image  p-0  ms-2"
             src="{{ data.image }}"
             alt="{{ lang.imageItemAlt }}"
             title="{{ lang.imageItemTitle }}"
             data-js-item-image>

        {% endif %}

        <div class="position-relative  d-flex  flex-column  flex-grow-1  justify-content-center  ps-3  pe-3  p-2">

            {% if not data.viewed %}

            <div class="position-absolute top-50 end-0  translate-middle  badge  rounded-pill  text-bg-danger">

                New
            </div>

            {% endif %}

            <div class="d-flex  flex-row  justify-content-between">
                <p class="fs-5  my-3  mx-2  text-wrap  text-break">
                    {{ data.message|raw }}
                </p>
            </div>
        </div>
    </label>

    <button type="button"
            data-js-remove-button
            class="btn  flex-grow-0  p-3 rounded-0  border  border-0  border-start  border-light-subtle  btn-outline-danger"
            value="{{ data.id }}"
            title="{{ lang.removeItemButtonTitle }}"
            data-bs-toggle="modal"
            data-bs-target="#{{ data.deleteFormModalIdAttribute }}"
            data-action="NotificationListItemComponent#sendMessageHomeListItemRemoveEvent">

        {% include "common/remove-icon.svg" %}
    </button>
</li>