<form id="{{ formName }}"
	  name="{{ formName }}"
	  data-controller="GroupModifyComponent"
	  data-action="ImageAvatarComponent:imageRemoved->GroupModifyComponent#setImageAvatarAsRemoved  ImageAvatarComponent:imageRemoveUndo->GroupModifyComponent#setImageAvatarAsRemoved"
	  class="contaniner  p-5"
	  method="post"
	  enctype="multipart/form-data"
	  novalidate>

	<input type="hidden"
		   name="{{ tokenCsrfFieldName }}"
		   value="{{ data.groupModify.groupModifyCsrfToken }}" />

	<input type="hidden"
		   name="{{ groupIdFieldName }}"
		   value="{{ data.groupModify.groupId }}" />

	<input type="hidden"
		   name="{{ imageAvatarRemoveFieldName }}"
		   data-js-image-remove />

	{% if lang.validationErrors %}
	{{ component('AlertComponent', { data: lang.validationErrors }) }}
	{% endif %}

	<div class="mb-5 pt-5 display-1 text-center">
		{{ lang.title }}
	</div>

	<div class="mb-5  d-flex  justify-content-center">
		{{ component('ImageAvatarComponent', { data: data.imageAvatarDto }) }}
	</div>

	<div class="mb-3">

		<label for="name"
			   class="form-label">

			{{ lang.nameLabel }}
		</label>
		<input type="text"
			   class="form-control"
			   id="name"
			   maxlength="50"
			   name="{{ nameFieldName }}"
			   placeholder="{{ lang.namePlaceholder }}"
			   value="{{ data.groupModify.name }}"
			   required>

		<div class="invalid-feedback">
			{{ lang.nameMsgInvalid }}
		</div>
	</div>

	<div class="mb-3">
		<label for="description"
			   class="form-label">

			{{ lang.descriptionLabel }}
		</label>
		<textarea class="form-control"
				  id="description"
				  name="{{ descriptionFieldName }}"
				  maxlength="500"
				  placeholder="{{ lang.descriptionPlaceholder }}">{{ data.groupModify.description }}</textarea>

		<div class="invalid-feedback">
			{{ lang.descriptionMsgInvalid }}
		</div>
	</div>

	<div class="mb-3">

		{{ component('DropZoneComponent', { data: data.imageDropZoneDto }) }}
	</div>

	<div class="mt-5">

		<input type="submit"
			   class="btn btn-primary w-100"
			   name="{{ submitFieldName }}"
			   value="{{ lang.groupCreateButton }}" />
	</div>
</form>

<div class="contaniner  mt-5  p-5">
	<div class="text-center  border-bottom d-grid gap-2">
		<button type="button"
				class="btn btn-light  rounded-0  pt-3 pb-3  d-inline-flex"
				data-bs-toggle="modal"
				data-bs-target="#group_remove_modal">

			<div class="flex-grow-1  text-danger">

				{{ lang.groupRemoveLabel }}

				<br><span class="fs-6">{{ lang.groupRemovePlaceholder }}</span>
			</div>

			{{ include('Components/Group/GroupModify/img/arrow-right-icon.svg') }}
		</button>
	</div>
</div>


{{ component('ModalComponent', { data: data.groupRemoveModal }) }}