<section data-controller="SearchBarComponent"
		 data-url-search-autocomplete="{{ data.searchAutoCompleteUrl|escape('html_attr') }}"
		 data-group-id="{{ data.groupId }}">

	<form name="{{ formName }}"
		  class="search-bar  contaniner  p-3"
		  action="{{ data.searchFormActionUrl|escape('html_attr') }}"
		  method="post"
		  enctype="multipart/form-data"
		  novalidate
		  data-js-searchbar-form>

		<input type="hidden"
			   name="{{ searchTokenCsrfFieldName }}"
			   value="{{ data.searchCsrfToken }}" />

		<label class="form-label  w-100">
			{{ lang.searchLabel }}

			<div class="input-group">

				<select class="form-select  search-bar__filter"
						name="{{ sectionFilterFieldName }}"
						{{this.sectionFilters|length==1?'hidden':''}}
						data-js-section-filter>

					{% for sectionFilterName, sectionFilterValue in this.sectionFilters %}

					{% if sectionFilterName==data.sectionFilterValue %}

					<option value="{{ sectionFilterName }}"
							selected>

						{{ sectionFilterValue }}
					</option>

					{% else %}

					<option value="{{ sectionFilterName }}">{{ sectionFilterValue }}</option>

					{% endif %}
					{% endfor %}
				</select>

				<select class="form-select  search-bar__filter"
						name="{{ nameFilterFieldName }}"
						data-js-name-filter>

					{% for nameFilterName, valueFilterLang in lang.filters %}

					{% if nameFilterName==data.nameFilterValue %}

					<option value="{{ nameFilterName }}"
							selected>{{ valueFilterLang }}</option>

					{% else %}

					<option value="{{ nameFilterName }}">{{ valueFilterLang }}</option>
					{% endif %}

					{% endfor %}
				</select>

				<input type="text"
					   class="form-control"
					   name="{{ searchValueFieldName }}"
					   placeholder="{{ lang.searchPlaceholder }}"
					   value="{{ data.searchValue }}"
					   list="search-data-list"
					   data-js-value />

				<datalist id="search-data-list"> </datalist>

				<button type="submit"
						class="btn btn-primary  order-3"
						name="{{ searchButtonFiledName }}"
						alt="{{ lang.searchButton }}">
					{% include "search-icon-blue-24x24.svg" %}
				</button>
			</div>
		</label>
	</form>
</section>