<form id="frm_password_change"
	  name="{{ formName }}"
	  data-controller="PasswordChangeComponent"
	  class="contaniner  p-4  pt-0"
	  method="post"
	  action="{{ data.actionAttribute|escape('html_attr') }}"
	  enctype="multipart/form-data"
	  novalidate>
	<input type="hidden"
		   name="{{ tokenCsrfFieldName }}"
		   value="{{ data.csrfToken }}" />

	<input type="hidden"
		   name="{{ userIdFieldName }}"
		   value="{{ data.userId }}" />

	{{ component('TitleComponent', { data: titleDto } ) }}

	{% if lang.validationErrors %}
	{{ component('AlertValidationComponent', { data: lang.validationErrors }) }}
	{% endif %}

	{% if data.passwordOldRequired %}

	<div class="mb-3">
		<label for="password_old"
			   class="form-label">{{ lang.passwordOldLabel }}</label>
		<input type="password"
			   class="form-control"
			   id="password_old"
			   name="{{ passwordOldFieldName }}"
			   pattern=".{6,}"
			   placeholder="{{ lang.passwordOldPlaceholder }}"
			   value="{{ data.passwordOld }}"
			   required>
		<div class="invalid-feedback">{{ lang.passwordOldMsgInvalid }}</div>
	</div>

	{% endif %}

	<div class="mb-3">
		<label for="password_new"
			   class="form-label">{{ lang.passwordNewLabel }}</label>
		<input type="password"
			   class="form-control"
			   id="password_new"
			   name="{{ passwordNewFieldName }}"
			   pattern=".{6,}"
			   placeholder="{{ lang.passwordNewPlaceholder }}"
			   value="{{ data.passwordNew }}"
			   required>
		<div class="invalid-feedback">{{ lang.passwordNewMsgInvalid }}</div>
	</div>

	<div class="mb-3">
		<label for="password_new_repeat"
			   class="form-label">{{ lang.passwordNewRepeatLabel }}</label>
		<input type="password"
			   class="form-control"
			   id="password_new_repeat"
			   name="{{ passwordNewRepeatFieldName }}"
			   pattern=".{6,}"
			   placeholder="{{ lang.passwordNewRepeatPlaceholder }}"
			   value="{{ data.passwordNewRepeat }}"
			   required>
		<div class="invalid-feedback">{{ lang.passwordNewRepeatMsgInvalid }}</div>
	</div>

	<div class="mt-5">
		<input type="submit"
			   class="btn btn-primary w-100"
			   name="{{ submitFieldName }}"
			   value="{{ lang.passwordChangeButton }}" />
	</div>
</form>