<div data-controller="ListOrdersHomeSectionComponent"
     class="contaniner">

    {% set langExtend = lang %}
    {% set dataExtend = data %}
    {% component HomeSectionComponent with { data: data.homeSectionComponentDto } %}

    {% block headerButtonsBetweenBlock %}

    <button type="button"
            class="btn btn-primary  flex-grow-0  rounded-1  ms-1"
            title="{{ langExtend.buttonCreateFromTitle }}"
            data-bs-toggle="modal"
            data-bs-target="#{{ dataExtend.listOrdersCreateFromModalDto.idAttribute }}"
            data-js-add-item>

        {% include "list_orders/list-orders-icon-create-from.svg" %}

        <span class="align-middle">{{ langExtend.buttonCreateFromLabel }}</span>
    </button>

    {% endblock headerButtonsBetweenBlock %}

    {% endcomponent %}

    {{ component('ModalComponent', { data: data.listOrdersCreateFromModalDto } ) }}
    {{ component('ModalComponent', { data: data.listOrdersListAjaxModalDto } ) }}
    {{ component('ModalComponent', { data: data.listOrdersInfoModalDto } ) }}
</div>