<form id="{{ formName }}"
	  name="{{ formName }}"
	  data-controller="GroupCreateComponent"
	  class="contaniner  pt-0  p-3  p-sm-4"
	  method="post"
	  action="{{ data.groupCreate.groupCreateFormActionUrl|escape('html_attr') }}"
	  enctype="multipart/form-data"
	  novalidate>
	<input type="hidden"
		   name="{{ tokenCsrfFieldName }}"
		   value="{{ data.groupCreate.csrfToken }}" />

	{{ component('TitleComponent', { data: titleDto } ) }}

	{% if lang.validationErrors %}
	{{ component('AlertComponent', { data: lang.validationErrors }) }}
	{% endif %}


	<div class="mb-3">
		<label for="name"
			   class="form-label">
			{{ lang.nameLabel }}
		</label>
		<input type="text"
			   class="form-control"
			   id="name"
			   maxlength="50"
			   pattern="[A-Za-zÀ-ÿ0-9_\s]+"
			   name="{{ nameFieldName }}"
			   placeholder="{{ lang.namePlaceholder }}"
			   value="{{ data.groupCreate.name }}"
			   required>
		<div class="invalid-feedback">
			{{ lang.nameMsgInvalid }}
		</div>
	</div>

	<div class="mb-3">
		<label for="description"
			   class="form-label">
			{{ lang.descriptionLabel }}
		</label>
		<textarea class="form-control"
				  id="description"
				  name="{{ descriptionFieldName }}"
				  maxlength="500"
				  placeholder="{{ lang.descriptionPlaceholder }}"
				  value="{{ data.groupCreate.description }}"></textarea>
		<div class="invalid-feedback">
			{{ lang.descriptionMsgInvalid }}
		</div>
	</div>

	<div class="mb-3">
		{{ component('DropZoneComponent', { data: data.imageDropZoneDto }) }}
	</div>

	<div class="mt-5">
		<input type="submit"
			   class="btn btn-primary w-100"
			   name="{{ submitFieldName }}"
			   value="{{ lang.groupCreateButtonLabel }}" />
	</div>
</form>