<form id="{{ formName }}"
	  name="{{ formName }}"
	  data-controller="ShopCreateComponent"
	  class="contaniner  p-5  pt-0"
	  method="post"
	  enctype="multipart/form-data"
	  novalidate>

	<input type="hidden"
		   name="{{ tokenCsrfFieldName }}"
		   value="{{ data.csrfToken }}" />

	{% if lang.validationErrors %}
	{{ component('AlertComponent', { data: lang.validationErrors }) }}
	{% endif %}

	{{ component('TitleComponent', { data: titleDto } ) }}

	<div class="mb-3">
		<label for="name"
			   class="form-label">
			{{ lang.nameLabel }}
		</label>
		<input type="name"
			   class="form-control"
			   id="name"
			   maxlength="50"
			   name="{{ nameFieldName }}"
			   placeholder="{{ lang.namePlaceholder }}"
			   value="{{ data.name }}"
			   required />
		<div class="invalid-feedback">
			{{ lang.nameMsgInvalid }}
		</div>
	</div>

	<div class="mb-3">
		<label for="description"
			   class="form-label">
			{{ lang.descriptionLabel }}
		</label>
		<textarea class="form-control"
				  id="description"
				  name="{{ descriptionFieldName }}"
				  maxlength="500"
				  placeholder="{{ lang.descriptionPlaceholder }}">{{ data.description }}</textarea>
		<div class="invalid-feedback">
			{{ lang.descriptionMsgInvalid }}
		</div>
	</div>

	<div class="mb-3">
		{{ component('DropZoneComponent', { data: imageDto }) }}
	</div>

	<div class="mt-5">
		<input type="submit"
			   class="btn btn-primary w-100"
			   name="{{ submitFieldName }}"
			   value="{{ lang.shopCreateButton }}" />
	</div>
</form>