<form id="{{ formName }}"
	  name="{{ formName }}"
	  data-controller="ShopCreateComponent"
	  data-action="ModalComponent:beforeShowed->ShopCreateComponent#handleMessageBeforeShowed
	  			   ItemPriceAddComponent:itemPriceSelected->ShopCreateComponent#handleItemNameClickEvent"
	  class="contaniner  p-4  pt-0"
	  action="{{ data.shopCreateFormActionUrl|escape('html_attr') }}"
	  method="post"
	  enctype="multipart/form-data"
	  novalidate
	  data-modal-component-content>

	<input type="hidden"
		   name="{{ tokenCsrfFieldName }}"
		   value="{{ data.csrfToken }}" />

	{{ component('TitleComponent', { data: titleDto } ) }}

	{% block validation %}

	{% if lang.validationErrors %}
	{{ component('AlertValidationComponent', { data: lang.validationErrors }) }}
	{% endif %}

	{% endblock validation %}

	<div class="mb-3">
		<label for="name"
			   class="form-label">
			{{ lang.nameLabel }}
		</label>
		<input type="text"
			   class="form-control"
			   id="name"
			   maxlength="50"
			   pattern="[A-Za-zÀ-ÿ0-9_\s]+"
			   name="{{ nameFieldName }}"
			   placeholder="{{ lang.namePlaceholder }}"
			   value="{{ data.name }}"
			   required
			   data-js-form-name />
		<div class="invalid-feedback">
			{{ lang.nameMsgInvalid }}
		</div>
	</div>

	<div class="mb-3">
		<label for="description"
			   class="form-label">
			{{ lang.descriptionLabel }}
		</label>
		<textarea class="form-control"
				  id="description"
				  name="{{ descriptionFieldName }}"
				  maxlength="500"
				  placeholder="{{ lang.descriptionPlaceholder }}"
				  data-js-form-description>{{ data.description }}</textarea>
		<div class="invalid-feedback">
			{{ lang.descriptionMsgInvalid }}
		</div>
	</div>

	<div class="mb-3">
		{{ component('DropZoneComponent', { data: imageDto }) }}
	</div>

	{% block products %}

	<fieldset class="mt-5">
		<legend class="mb-3  pb-1  border-bottom">
			{{ lang.productsTitle }}
		</legend>

		{{ component('ItemPriceAddComponent', { data: itemPriceAddDto } ) }}
	</fieldset>

	{% endblock products %}

	<div class="d-flex  flex-row  mt-5">

		{% block buttons %}

		<button type="button"
				class="btn  btn-secondary  d-flex  flex-row  align-items-center  me-4  rounded-0  rounded-start"
				data-action="ShopCreateComponent#modalClose">

			{% include "arrow-back-icon-white-24x24.svg" %}
			{{ lang.closeButton }}
		</button>

		<input type="submit"
			   class="btn  btn-primary  flex-grow-1  rounded-0  rounded-end"
			   name="{{ submitFieldName }}"
			   value="{{ lang.shopCreateButtonLabel }}" />

		{% endblock buttons %}

	</div>

</form>