<div data-controller="GroupListComponent"
	 class="contaniner  p-5">



	<div class="mb-5 pt-5 display-1 text-center">
		{{ lang.title }}
	</div>

	{% if lang.validationErrors %}
	{{ component('AlertComponent', { data: lang.validationErrors }) }}
	{% endif %}

	{{ component('ListComponent', { data: listDto }) }}
	{{ component('PaginatorComponent', { data: data.paginatorDto }) }}
	{{ component('ModalComponent', { data: data.groupRemoveModalDto }) }}
</div>