{% extends "Components/HomeSection/ItemInfo/ItemInfoComponent.html.twig" %}

{% block mainFirstBlock %}
<h3 class="lead">{{ lang.description }}:</h3>
<p class="mt-3  text-break"
   data-js-item-description>
    { item description }
</p>

<div class="d-flex  justify-content-between  order-info-bought">
    <h3 class="lead">{{ lang.bought }}:</h3>
    <div class="order-info-bought__icon  order-info-bought__icon--bought"
         data-icon-bought-title="{{ lang.boughtTitle }}"
         data-icon-not-bought-title="{{ lang.notBoughtTitle }}"
         data-js-item-bought>
        {% include "common/order/bought-icon.svg" %}
    </div>
</div>


<table class="table  table-borderless  mt-4  order-info__table">
    <tbody>
        <tr>
            <td class="table__title">
                <h3 class="lead  mb-0">{{ lang.amount }}:</h3>
            </td>
            <td class="table__value"
                data-js-item-amount>
                { item amount }
            </td>
        </tr>
        <tr>
            <td class="table__title">
                <h3 class="lead  mb-0">{{ lang.shopPrice }}:</h3>
            </td>
            <td class="table__value"
                data-js-item-shop-price>
                { item price }
            </td>
        </tr>
        <tr>
            <td class="table__title">
                <h3 class="lead  mb-0">{{ lang.priceTotal }}:</h3>
            </td>
            <td class="table__value  table-group-divider"
                data-js-item-shop-price-total>
                { item price total }
            </td>
        </tr>
    </tbody>
</table>

{% endblock mainFirstBlock %}

{% block secondaryFirstBlock %}

<section class="p-3  p-sm-4  pt-0">
    <h3 class="mb-3">
        {{ lang.infoLabel}}
    </h3>

    <div class="accordion  accordion-flush"
         id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
            <h3 class="accordion-header">

                <button class="accordion-button  p-0  pb-2"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#product"
                        aria-expanded="true"
                        aria-controls="product">
                    <div>
                        <div class="lead"
                             data-js-item-product-name>

                        </div>
                    </div>
                </button>

            </h3>
            <div id="product"
                 class="accordion-collapse collapse show">
                <div class="accordion-body  p-2  text-break"
                     data-js-item-product-description>

                </div>
            </div>
        </div>

        <div class="accordion-item  pt-3"
             data-js-shop-info>
            <h3 class="accordion-header">
                <button class="accordion-button collapsed  p-0  pb-2"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#shop"
                        aria-expanded="false"
                        aria-controls="shop">
                    <div>
                        <div class="lead"
                             data-js-item-shop-name>

                        </div>
                    </div>
                </button>
            </h3>
            <div id="shop"
                 class="accordion-collapse collapse">
                <div class="accordion-body  p-2">
                    <div data-js-item-shop-description>

                    </div>

                    <hr data-js-shop-description-address-separator>

                    <div data-js-item-shop-address-container>
                        <div class="text-break"
                             data-js-item-shop-address>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

{% endblock secondaryFirstBlock %}