<section data-controller="SearchBarComponent"
		 data-url-search-autocomplete="{{ data.searchAutoCompleteUrl|escape('html_attr') }}"
		 data-group-id="{{ data.groupId }}">

	<form name="{{ formName }}"
		  class="search-bar  contaniner  p-3  d-flex flex-row  border  border-1  rounded"
		  action="{{ data.searchFormActionUrl|escape('html_attr') }}"
		  method="post"
		  enctype="multipart/form-data"
		  novalidate
		  data-js-searchbar-form>

		<input type="hidden"
			   name="{{ searchTokenCsrfFieldName }}"
			   value="{{ data.searchCsrfToken }}" />

		<label class="form-label  w-100">
			{{ lang.searchLabel }}
			<div class="d-flex  flex-row">

				<input type="text"
					   class="form-control  order-2  flex-grow-1  border  border-0 border-top  border-bottom rounded-0"
					   name="{{ searchValueFieldName }}"
					   placeholder="{{ lang.searchPlaceholder }}"
					   value="{{ data.searchValue }}"
					   list="search-data-list"
					   data-js-value />

				<datalist id="search-data-list"> </datalist>

				<select class="search-bar__filters  form-select  order-1 border rounded-0  rounded-start"
						name="{{ searchFilterFieldName }}"
						data-js-filter>

					{% for filterName, filterLang in lang.filters %}

					{% if filterName==data.searchFilter %}

					<option value="{{ filterName }}"
							selected>{{ filterLang }}</option>

					{% else %}

					<option value="{{ filterName }}">{{ filterLang }}</option>
					{% endif %}

					{% endfor %}
				</select>

				<button type="submit"
						class="btn btn-primary  order-3  border rounded-0  rounded-end"
						name="{{ searchButtonFiledName }}"
						alt="{{ lang.searchButton }}">
					{% include "search-icon-blue-24x24.svg" %}
				</button>
			</div>
		</label>
	</form>
</section>