{% trans_default_domain 'HomePageComponent' %}

{% block title %}

{% endblock %}

{% block headJs %}
{{ encore_entry_link_tags('app') }}
{% endblock %}

{% block headerContent %}
<nav class="d-flex  flex-row  justify-content-between  container-lg  p-3  navigation"
     data-js-navigation-bar>
    <a href="{{ path('home') }}">
        <img class="navigation__logo  ms-4"
             src="{{ asset('build/images/common/logo-white.png') }}"
             title="{{ 'logo.title'|trans({'%domain_name%': data.domainName}) }}"
             alt="{{ 'logo.title'|trans({'%domain_name%': data.domainName}) }}">
    </a>
    <div class="d-flex  flex-row  gap-lg-5  py-3">
        <div class="d-flex  flex-row  align-content-center">
            {% if data.locale=='es' %}

            <a class="btn-nav  d-flex  flex-column  justify-content-center  p-3"
               href="{{ data.languageUrl }}"
               title="{{ 'button.language.title'|trans }}"
               role="button"
               type="button">

                {% include "common/flag/english-flag.svg" %}
            </a>

            {% else %}

            <a class="btn-nav  d-flex  flex-column  justify-content-center  p-3"
               href="{{ data.languageUrl }}"
               title="{{ 'button.language.title'|trans }}"
               role="button">

                {% include "common/flag/spanish-flag.svg" %}
            </a>

            {% endif %}

            <button class="btn  btn-nav  rounded-0  p-3"
                    type="button"
                    title="{{ 'button.theme.title'|trans }}"
                    data-js-theme-button>
                <div hidden
                     data-js-theme-dark>
                    {% include "common/theme-dark-mode-icon.svg" %}
                </div>
                <div hidden
                     data-js-theme-light>
                    {% include "common/theme-light-mode-icon.svg" %}
                </div>
                <div hidden
                     data-js-theme-auto>
                    {% include "common/theme-auto-mode-icon.svg" %}
                </div>
            </button>

            <div class="dropdown  navigation  btn-user  d-flex">
                <button class="btn btn-nav  btn-home-user-menu   rounded-0"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">

                    {% if userButton.image is null %}

                    <div data-js-user-avatar-image>
                        {% include "common/user/user-avatar-no-image.svg" %}
                    </div>

                    {% else %}

                    <img class="btn-user__image"
                         src="{{ userButton.image|escape('html_attr') }}"
                         title="{{ userButton.title }}"
                         alt="{{ userButton.alt }}">

                    {% endif %}

                    <span class="user-profile__name">
                        {{ userButton.name }}
                    </span>

                </button>
                <ul class="dropdown-menu  dropdown-menu-end  user-menu">
                    <li>
                        <a class="dropdown-item  menu-item__link  d-flex  justify-content-start  align-content-center  p-3"
                           href="{{ profileButton.url|escape('html_attr') }}"
                           role="button"
                           title="{{ profileButton.title }}"
                           data-js-user-avatar>

                            {% if profileButton.image is null %}

                            <div data-js-user-avatar-image>
                                {% include "common/user/user-avatar-no-image.svg" %}
                            </div>

                            {% else %}

                            <img src="{{ profileButton.image|escape('html_attr') }}"
                                 title="{{ profileButton.title }}">

                            {% endif %}

                            <span class="align-self-center  menu-item__name">
                                {{ profileButton.label }}
                            </span>

                        </a>
                    </li>

                    <li>
                        <a class="dropdown-item menu-item__link  d-flex  justify-content-start  align-content-center  p-3"
                           href="{{ groupButton.url|escape('html_attr') }}"
                           role="button"
                           title="{{ groupButton.title }}"
                           data-js-user-avatar>

                            <div data-js-user-avatar-image>
                                {% include "common/group/group-no-image.svg" %}
                            </div>

                            <span class="align-self-center  menu-item__name">
                                {{ groupButton.label }}
                            </span>

                        </a>
                    </li>

                    <li>
                        <a class="dropdown-item menu-item__link  d-flex  justify-content-start  align-content-center  p-3"
                           href="{{ logoutButton.url|escape('html_attr') }}"
                           role="button"
                           title="{{ logoutButton.title }}"
                           data-js-user-avatar>

                            <div class="menu-item__logout">
                                {% include "common/power-icon.svg" %}
                            </div>

                            <span class="align-self-center  menu-item__name">
                                {{ logoutButton.label }}
                            </span>

                        </a>
                    </li>

                </ul>
            </div>


        </div>
    </div>
</nav>

<section class="container  px-5  text-light  content">
    <div class="row gx-5 align-items-center">
        <div class="col-lg-5  offset-lg-1  content__info">
            <h1 class="fs-1">
                {{ 'main_info.title'|trans }}
            </h1>
            <p class="fs-5  mb-5">
                {{ 'main_info.info'|trans({'%domain_name%': data.domainName})|raw }}
            </p>
        </div>
        <nav class="col-lg-5  d-flex  justify-content-lg-end  justify-content-sm-center">
            <ul class="list-group  list-nav-section">
                <li
                    class="list-group-item  bg-transparent  py-0  px-0  border-0  rounded-1  d-flex  justify-content-end  list-nav-section__item">
                    <a class="link-light  link-offset-2  link-underline-opacity-25  link-underline-opacity-75-hover  fs-4  px-3  py-3  rounded-1"
                       href="{{ data.orderListHomeUrl|escape('html_attr') }}">
                        {{ 'main_info.section.order_list'|trans }}

                        {% include "common/list_orders/list-orders-no-image.svg" %}
                    </a>
                </li>
                <li
                    class="list-group-item  bg-transparent  py-0  px-0  border-0  rounded-1  d-flex  justify-content-end  list-nav-section__item">
                    <a class="link-light  link-offset-2  link-underline-opacity-25  link-underline-opacity-75-hover  fs-4  px-3  py-3  rounded-1"
                       href="{{ data.productsHomeUrl|escape('html_attr') }}">
                        {{ 'main_info.section.products'|trans }}

                        {% include "common/product/product-no-image.svg" %}
                    </a>
                </li>
                <li
                    class="list-group-item  bg-transparent  py-0  px-0  border-0  rounded-1  d-flex  justify-content-end  list-nav-section__item">
                    <a class="link-light  link-offset-2  link-underline-opacity-25  link-underline-opacity-75-hover  fs-4  px-3  py-3  rounded-1"
                       href="{{ data.shopsHomeUrl|escape('html_attr') }}">
                        {{ 'main_info.section.shops'|trans }}

                        {% include "common/shop/shop-no-image.svg" %}
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</section>
{% endblock %}