{% trans_default_domain 'HomePageComponent' %}
<!DOCTYPE html>
<html lang="{{ data.locale }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="{{ globals.metaData.description }}">


    <title>
        {{ globals.domainName }}
    </title>

    <link rel="icon"
          type="image/x-icon"
          href="{{ asset('build/images/common/favicon.png') }}">

    <link rel="alternate"
          hreflang="en"
          href="{{ url('home', { '_locale': 'en' }) }}" />

    <link rel="alternate"
          hreflang="es"
          href="{{ url('home', { '_locale': 'es' }) }}" />

    {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
    {{ encore_entry_script_tags('appNotDeferred') }}
    {{ encore_entry_script_tags('app') }}
    {% endblock %}

</head>

<body>
    {{ component('CookiesConsentComponent') }}
    <main data-controller="HomePageComponent">
        <header class="header  pb-0  ps-0  pe-0  pt-2">

            {% if data.loggedIn %}

            {% include "Components/Home/Home/HomePageLoggedInComponent.html.twig" %}

            {% else %}

            {% include "Components/Home/Home/HomePageLoggedOutComponent.html.twig" %}

            {% endif %}

            <footer class="border-bottom">
                {% include "common/home_page/border-bottom.svg" %}
            </footer>
        </header>
        <section class="container-md  text-center  body">
            <div class="row  justify-content-md-center  gap-lg-4  p-5">
                <article
                         class="body-card  col-lg-4  border border-3  border-light-subtle border-top-0  border-start-0  border-end-0  py-5  pb-3">
                    <div class="mb-3  body-card__icon"
                         title="{{ 'card.list_orders.icon.title'|trans }}">
                        {% include "common/list_orders/list-orders-no-image.svg" %}
                    </div>
                    <h2 class="text-center">
                        {{ 'card.list_orders.title'|trans }}
                    </h2>
                    <p class="body-card__description">
                        {{ 'card.list_orders.description'|trans|raw }}
                    </p>
                </article>

                <article
                         class="body-card  col-lg-4  border border-3  border-light-subtle border-top-0  border-start-0  border-end-0  pt-5  pb-3">
                    <div class="mb-3  body-card__icon"
                         title="{{ 'card.products.icon.title'|trans }}">
                        {% include "common/product/product-no-image.svg" %}
                    </div>
                    <h2 class="text-center">
                        {{ 'card.products.title'|trans }}
                    </h2>
                    <p class="body-card__description">
                        {{ 'card.products.description'|trans|raw }}
                    </p>
                </article>

                <article
                         class="body-card  col-lg-4  border border-3  border-light-subtle border-top-0  border-start-0  border-end-0  pt-5  pb-3">
                    <div class="mb-3  body-card__icon"
                         title="{{ 'card.shops.icon.title'|trans }}">
                        {% include "common/shop/shop-no-image.svg" %}
                    </div>
                    <h2 class="text-center">
                        {{ 'card.shops.title'|trans }}
                    </h2>
                    <p class="body-card__description">
                        {{ 'card.shops.description'|trans|raw }}
                    </p>
                </article>

                <article
                         class="body-card  col-lg-4  border border-3  border-light-subtle border-top-0  border-start-0  border-end-0  pt-5  pb-3">
                    <div class="mb-3  body-card__icon"
                         title="{{ 'card.groups.icon.title'|trans }}">
                        {% include "common/group/group-no-image.svg" %}
                    </div>
                    <h2 class="text-center">
                        {{ 'card.groups.title'|trans }}
                    </h2>
                    <p class="body-card__description">
                        {{ 'card.groups.description'|trans|raw }}
                    </p>
                </article>

                <article
                         class="body-card  col-lg-4  border border-3  border-light-subtle border-top-0  border-start-0  border-end-0  pt-5  pb-3">
                    <div class="mb-3  body-card__icon"
                         title="{{ 'card.groups.icon.title'|trans }}">
                        {% include "common/share-icon.svg" %}
                    </div>
                    <h2 class="text-center">
                        {{ 'card.share.title'|trans }}
                    </h2>
                    <p class="body-card__description">
                        {{ 'card.share.description'|trans|raw }}
                    </p>
                </article>
            </div>
        </section>
    </main>

    {{ component('FooterComponent') }}


</body>

</html>