{% trans_default_domain 'HomePageComponent' %}
<!DOCTYPE html>
<html lang="{{ data.locale }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock %}
    </title>

    {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
    {{ encore_entry_script_tags('appNotDeferred', attributes={ defer: false }) }}
    {{ encore_entry_script_tags('app') }}
    {% endblock %}

</head>

<body>
    <main data-controller="HomePageComponent">
        <header class="header  pb-0  ps-0  pe-0  pt-2">

            {% if data.loggedIn %}

            {% include "Components/Home/Home/HomePageLoggedInComponent.html.twig" %}

            {% else %}

            {% include "Components/Home/Home/HomePageLoggedOutComponent.html.twig" %}

            {% endif %}

            <footer class="border-bottom">
                {% include "home_page/border-bottom.svg" %}
            </footer>
        </header>
        <section class="container-md  text-center  body">
            <div class="row  justify-content-md-center">
                <article class="body-card  col-lg-3  p-4">
                    <div class="mb-3  body-card__icon"
                         title="{{ 'card.list_orders.icon.title'|trans }}">
                        {% include "list_orders/list-orders-no-image.svg" %}
                    </div>
                    <h2 class="text-center">
                        {{ 'card.list_orders.title'|trans }}
                    </h2>
                    <p class="body-card__description">
                        {{ 'card.list_orders.description'|trans|raw }}
                    </p>
                </article>

                <article class="body-card  col-lg-3  p-4">
                    <div class="mb-3  body-card__icon"
                         title="{{ 'card.products.icon.title'|trans }}">
                        {% include "product/product-no-image.svg" %}
                    </div>
                    <h2 class="text-center">
                        {{ 'card.products.title'|trans }}
                    </h2>
                    <p class="body-card__description">
                        {{ 'card.products.description'|trans|raw }}
                    </p>
                </article>

                <article class="body-card  col-lg-3  p-4">
                    <div class="mb-3  body-card__icon"
                         title="{{ 'card.shops.icon.title'|trans }}">
                        {% include "shop/shop-no-image.svg" %}
                    </div>
                    <h2 class="text-center">
                        {{ 'card.shops.title'|trans }}
                    </h2>
                    <p class="body-card__description">
                        {{ 'card.shops.description'|trans|raw }}
                    </p>
                </article>

                <article class="body-card  col-lg-3  p-4">
                    <div class="mb-3  body-card__icon"
                         title="{{ 'card.groups.icon.title'|trans }}">
                        {% include "group/group-no-image.svg" %}
                    </div>
                    <h2 class="text-center">
                        {{ 'card.groups.title'|trans }}
                    </h2>
                    <p class="body-card__description">
                        {{ 'card.groups.description'|trans|raw }}
                    </p>
                </article>
            </div>
        </section>
    </main>
    <footer class="bg-dark  text-center  text-light  p-3">
        <p class="m-0"
           xmlns:cc="http://creativecommons.org/ns#">
            <a class="link-info  link-offset-2  link-underline-opacity-25  link-underline-opacity-75-hover"
               rel="cc:attributionURL"
               href="https://github.com/Victor-codigo">
                {{ data.domainName }}
            </a>
            is licensed under
            <a class="link-info  link-offset-2  link-underline-opacity-25  link-underline-opacity-75-hover"
               href="https://creativecommons.org/licenses/by-nc-nd/4.0/?ref=chooser-v1"
               target="_blank"
               rel="license noopener noreferrer"
               style="display:inline-block;">

                <img style="height:22px!important;margin-left:1rem;vertical-align:bottom;"
                     src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1"
                     alt="">
                CC 4.0
                <img style="height:22px!important;margin-left:1rem;vertical-align:bottom;"
                     src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1"
                     alt="">
                BY
                <img style="height:22px!important;margin-left:1rem;vertical-align:bottom;"
                     src="https://mirrors.creativecommons.org/presskit/icons/nc.svg?ref=chooser-v1"
                     alt="">
                NC
                <img style="height:22px!important;margin-left:1rem;vertical-align:bottom;"
                     src="https://mirrors.creativecommons.org/presskit/icons/nd.svg?ref=chooser-v1"
                     alt="">
                ND
            </a>
        </p>
</body>

</html>