<div data-controller="HomeSectionComponent"
	 class="contaniner">

	{{ component('TitleComponent', { data: titleDto } ) }}

	{% if lang.validationErrors %}
	{{ component('AlertValidationComponent', { data: alertValidationComponentDto }) }}
	{% endif %}

	{{ component('SearchBarComponent', { data: searchBarFormDto } ) }}

	<div class="border  border-1  rounded-2  p-2">

		<div class="d-flex  flex-row  mb-3">

			<button type="button"
					class="btn btn-outline-primary  flex-grow-1  rounded-0  rounded-top"
					title="{{ lang.buttonAddTitle }}"
					data-bs-toggle="modal"
					data-bs-target="#{{ createFormModalDto.idAttribute }}"
					data-js-add-item>

				{% include "add-icon-blue-18x18.svg" %}

				<span class="align-middle">{{ lang.buttonAddLabel }}</span>
			</button>

			<div id="{{ data.removeMultiFormDto.formName }}"
				 data-remove-items-id-input-name="{{ data.removeMultiFormDto.itemsIdFieldName }}"
				 data-js-form-remove-many-items
				 novalidate>

				<button class="btn btn-outline-danger  flex-grow-0  ms-1  ps-4  pe-4  rounded-0  rounded-top"
						type="button"
						name="{{ data.removeMultiFormDto.submitFieldName }}"
						title="{{ lang.buttonRemoveMultipleTitle }}"
						data-bs-toggle="modal"
						data-bs-target="#{{ data.removeMultiFormDto.modalIdAttribute }}"
						data-action="HomeSectionComponent#sendMessageHomeSectionRemoveMultiToParent"
						data-js-form-remove-many-items-button>

					{% include "remove-icon-red-24x24.svg" %}
				</button>
			</div>
		</div>

		{{ component('HomeListComponent', { data: listComponentDto }) }}
	</div>


	{{ component('ModalComponent', { data: createFormModalDto }) }}
	{{ component('ModalComponent', { data: removeMultiFormModalDto }) }}
</div>