<form id="{{ formName }}"
	  name="{{ formName }}"
	  data-controller="ShopModifyComponent"
	  data-action="ModalComponent:beforeShowed->ShopModifyComponent#handleMessageBeforeShowed
	  			   ImageAvatarComponent:imageRemoved->ShopModifyComponent#setImageAvatarAsRemoved
	  			   ImageAvatarComponent:imageRemovedUndo->ShopModifyComponent#setImageAvatarAsRemoved
				   ShopModifyComponent:avatarSetImage->ImageAvatarComponent#handleMessageSetImage
				   ShopListItemComponent:homeListItemModify@window->ShopModifyComponent#handleMessageHomeListItemModify
				   ItemPriceAddComponent:itemPriceSelected->ShopModifyComponent#handleItemNameClickEvent"
	  class="contaniner  p-4  pt-0  d-flex flex-column"
	  method="post"
	  enctype="multipart/form-data"
	  data-action-placeholder="{{ data.formActionUrlPlaceholder|escape('html_attr') }}"
	  data-modal-component-content
	  novalidate>

	<input type="hidden"
		   name="{{ tokenCsrfFieldName }}"
		   value="{{ data.csrfToken }}" />

	<input type="hidden"
		   name="{{ imageRemoveFieldName }}"
		   data-js-image-remove />

	{% if lang.validationErrors %}
	{{ component('AlertComponent', { data: lang.validationErrors }) }}
	{% endif %}


	{{ component('TitleComponent', { data: titleDto } ) }}

	<div class="mb-5  align-self-center  shop-modify__image">
		{{ component('ImageAvatarComponent', { data: imageAvatarDto }) }}
	</div>

	<div class="mb-3">
		<label for="name"
			   class="form-label">
			{{ lang.nameLabel }}
		</label>
		<input type="text"
			   class="form-control"
			   id="name"
			   maxlength="50"
			   pattern="[A-Za-zÀ-ÿ0-9_\s]+"
			   name="{{ nameFieldName }}"
			   placeholder="{{ lang.namePlaceholder }}"
			   value="{{ data.name }}"
			   data-js-shop-name
			   required />
		<div class="invalid-feedback">
			{{ lang.nameMsgInvalid }}
		</div>
	</div>

	<div class="mb-3">

		<label for="description"
			   class="form-label">
			{{ lang.descriptionLabel }}
		</label>

		<textarea class="form-control"
				  id="description"
				  name="{{ descriptionFieldName }}"
				  maxlength="500"
				  placeholder="{{ lang.descriptionPlaceholder }}"
				  data-js-shop-description>{{ data.description }}</textarea>
		<div class="invalid-feedback">
			{{ lang.descriptionMsgInvalid }}
		</div>
	</div>

	<div class="mb-3">
		{{ component('DropZoneComponent', { data: imageDto }) }}
	</div>

	<fieldset class="mt-5">
		<legend class="mb-3  pb-1  border-bottom">
			{{ lang.productsTitle }}
		</legend>

		{{ component('ItemPriceAddComponent', { data: itemPriceAddDto } ) }}
	</fieldset>

	<div class="d-flex  flex-row  mt-5">

		<button type="button"
				class="btn  btn-secondary  d-flex  flex-row  align-items-center  me-4  rounded-0  rounded-start"
				data-action="ShopModifyComponent#modalClose">

			{% include "arrow-back-icon-white-24x24.svg" %}
			{{ lang.closeButton }}
		</button>

		<input type="submit"
			   class="btn  btn-primary  flex-grow-1  rounded-0  rounded-end"
			   name="{{ submitFieldName }}"
			   value="{{ lang.shopModifyButton }}" />
	</div>
</form>