<form id="{{ formName }}"
	  name="{{ formName }}"
	  data-controller="GroupRemoveComponent"
	  data-action="GroupListItemComponent:onGroupRemoveEvent@window->GroupRemoveComponent#setGroupIdToRemove"
	  class="contaniner  p-5"
	  method="post"
	  enctype="multipart/form-data"
	  novalidate>

	<input type="hidden"
		   name="{{ tokenCsrfFieldName }}"
		   value="{{ data.csrfToken }}" />

	<input type="hidden"
		   name="{{ groupIdFieldName }}"
		   data-js-group-id
		   value="{{ data.groupId }}" />

	<div class="mb-5 pt-5 display-4 text-center">
		{{ lang.title }}
	</div>

	<div class="mt-5">
		<p>
			{{ lang.messageAdvice }}
		</p>
	</div>

	<div class="mt-5">
		<input type="submit"
			   class="btn btn-danger w-100"
			   name="{{ submitFieldName }}"
			   value="{{ lang.userRemoveButton }}" />
	</div>
</form>