<form id="{{ formName }}"
	  name="{{ formName }}"
	  data-controller="ShopRemoveComponent"
	  data-action="ShopListItemComponent:onShopRemoveEvent@window->ShopRemoveComponent#handleOnShopRemoveEvent
	  			   ShopHomeComponent:onShopRemoveMultiEvent@window->ShopRemoveComponent#handleOnShopRemoveMultiEvent"
	  class="contaniner p-4  pt-0"
	  method="post"
	  enctype="multipart/form-data"
	  action="{{ data.formActionUrl|escape('html_attr') }}"
	  {{
	  data.removeMulti
	  ? 'data-remove-multi'
	  : ''
	  }}
	  novalidate>

	<input type="hidden"
		   name="{{ tokenCsrfFieldName }}"
		   value="{{ data.csrfToken }}" />

	{{ component('TitleComponent', { data: titleDto } ) }}

	<div class="mt-5">
		<p data-placeholder="{{ lang.messageAdvice|nl2br }}"
		   class="text-wrap text-center"
		   data-js-message>

		</p>
	</div>

	<div class="mt-5">

		<input type="submit"
			   class="btn btn-danger w-100"
			   name="{{ submitFieldName }}"
			   value="{{ lang.shopRemoveButton }}" />

	</div>
</form>