<form id="{{ formName }}"
	  name="{{ formName }}"
	  data-controller="ShopRemoveComponent"
	  data-action="ShopListItemComponent:onShopRemoveEvent@window->ShopRemoveComponent#handleOnShopRemoveEvent"
	  class="contaniner  p-5"
	  method="post"
	  enctype="multipart/form-data"
	  novalidate>

	<input type="hidden"
		   name="{{ tokenCsrfFieldName }}"
		   value="{{ data.csrfToken }}" />

	{% if lang.validationErrors.messages %}
	{{ component('AlertComponent', { data: lang.validationErrors }) }}
	{% endif %}

	{{ component('TitleComponent', { data: titleDto } ) }}

	<div class="mt-5">
		<p data-placeholder="{{ lang.messageAdvice }}"
		   data-js-message>

		</p>
	</div>

	<div class="mt-5">

		<input type="submit"
			   class="btn btn-danger w-100"
			   name="{{ submitFieldName }}"
			   value="{{ lang.shopRemoveButton }}" />

		<input type="hidden"
			   data-js-shop-id
			   name="{{ shopIdFieldName }}" />
	</div>
</form>