<form id="{{ formName }}"
	  name="{{ formName }}"
	  data-controller="UserRemoveComponent"
	  class="contaniner  p-5"
	  method="post"
	  action="{{ data.actionAttribute|escape('html_attr') }}"
	  enctype="multipart/form-data"
	  novalidate>

	<input type="hidden"
		   name="{{ tokenCsrfFieldName }}"
		   value="{{ data.csrfToken }}" />

	<input type="hidden"
		   name="{{ userIdFieldName }}"
		   value="{{ data.userId }}" />

	{% if lang.validationErrors %}
	{{ component('AlertValidationComponent', { data: lang.validationErrors }) }}
	{% endif %}


	<div class="mb-5 pt-5 display-4 text-center">
		{{ lang.title }}
	</div>

	<div class="mt-5">
		<p>

			{{ lang.messageAdvice }}

		</p>
	</div>

	<div class="mt-5">
		<input type="submit"
			   class="btn btn-danger w-100"
			   name="{{ submitFieldName }}"
			   value="{{ lang.userRemoveButton }}" />
		<input type="hidden"
			   value="{{ data.userId }}" />
	</div>
</form>