<form data-controller="ListOrdersModifyComponent"
	  data-action="ListOrdersListItemComponent:homeListItemModify@window->ListOrdersModifyComponent#handleMessageHomeListItemModify"
	  id="{{ formName }}"
	  name="{{ formName }}"
	  data-action-placeholder="{{ data.listOrdersModifyFormActionUrl|escape('html_attr') }}"
	  class="contaniner  p-4  pt-0"
	  method="post"
	  enctype="multipart/form-data"
	  novalidate>

	<input type="hidden"
		   name="{{ tokenCsrfFieldName }}"
		   value="{{ data.csrfToken }}" />

	{{ component('TitleComponent', { data: titleDto } ) }}

	{% if lang.validationErrors %}

	{{ component('AlertComponent', { data: lang.validationErrors }) }}

	{% endif %}

	<div class="mb-3">
		<label for="name"
			   class="form-label">
			{{ lang.nameLabel }}
		</label>
		<input type="text"
			   class="form-control"
			   id="name"
			   maxlength="50"
			   pattern="[A-Za-zÀ-ÿ0-9_\s]+"
			   name="{{ nameFieldName }}"
			   placeholder="{{ lang.namePlaceholder }}"
			   value="{{ data.name }}"
			   required
			   data-js-list-orders-name />
		<div class="invalid-feedback">
			{{ lang.nameMsgInvalid }}
		</div>
	</div>

	<div class="mb-3">
		<label for="description"
			   class="form-label">
			{{ lang.descriptionLabel }}
		</label>
		<textarea class="form-control"
				  id="description"
				  name="{{ descriptionFieldName }}"
				  maxlength="500"
				  placeholder="{{ lang.descriptionPlaceholder }}"
				  data-js-list-orders-description>{{ data.description }}</textarea>
		<div class="invalid-feedback">
			{{ lang.descriptionMsgInvalid }}
		</div>
	</div>

	<div class="mb-3">
		<label for="date_to_buy"
			   class="form-label">
			{{ lang.dateToBuyLabel }}
		</label>
		<input type="datetime-local"
			   class="form-control"
			   id="date_to_buy"
			   name="{{ dateToBuyFieldName }}"
			   value="{{ data.dateToBuy is null ? '' : data.dateToBuy|date('Y-m-d\\TH:i')}}"
			   data-js-list-orders-date-to-buy />

		<div class="invalid-feedback">
			{{ lang.dateToBuyMsgInvalid }}
		</div>
	</div>

	<div class="mt-5">
		<input type="submit"
			   class="btn btn-primary w-100"
			   name="{{ submitFieldName }}"
			   value="{{ lang.listOrdersModifyButton }}" />
	</div>
</form>