<form data-controller="ListOrdersCreateComponent"
	  id="{{ formName }}"
	  name="{{ formName }}"
	  action="{{ data.listOrdersCreateFormActionUrl }}"
	  class="contaniner  p-3  p-sm-4  pt-0"
	  method="post"
	  enctype="multipart/form-data"
	  novalidate>

	<input type="hidden"
		   name="{{ tokenCsrfFieldName }}"
		   value="{{ data.csrfToken }}" />

	{{ component('TitleComponent', { data: titleDto } ) }}

	{% if lang.validationErrors %}

	{{ component('AlertComponent', { data: lang.validationErrors }) }}

	{% endif %}

	<div class="mb-3">
		<label for="name"
			   class="form-label">
			{{ lang.nameLabel }}
		</label>
		<input type="text"
			   class="form-control"
			   id="name"
			   maxlength="50"
			   pattern="[A-Za-zÀ-ÿ0-9_\s]+"
			   name="{{ nameFieldName }}"
			   placeholder="{{ lang.namePlaceholder }}"
			   value="{{ data.name }}"
			   required />
		<div class="invalid-feedback">
			{{ lang.nameMsgInvalid }}
		</div>
	</div>

	<div class="mb-3">
		<label for="description"
			   class="form-label">
			{{ lang.descriptionLabel }}
		</label>
		<textarea class="form-control"
				  id="description"
				  name="{{ descriptionFieldName }}"
				  maxlength="500"
				  placeholder="{{ lang.descriptionPlaceholder }}">{{ data.description }}</textarea>
		<div class="invalid-feedback">
			{{ lang.descriptionMsgInvalid }}
		</div>
	</div>

	<div class="mb-3">
		<label for="date_to_buy"
			   class="form-label">
			{{ lang.dateToBuyLabel }}
		</label>
		<input type="datetime-local"
			   class="form-control"
			   id="date_to_buy"
			   name="{{ dateToBuyFieldName }}"
			   value="{{ data.dateToBuy is null ? '' : data.dateToBuy|date('Y-m-d\\TH:i')}}"
			   data-js-list-orders-date-to-buy />

		<div class="invalid-feedback">
			{{ lang.dateToBuyMsgInvalid }}
		</div>
	</div>

	<div class="d-flex  flex-row  mt-5">
		<button type="button"
				class="btn  btn-transparent  me-2"
				data-bs-dismiss="modal">

			{% include "common/arrow-back-icon.svg" %}

			<span class="align-text-top">
				{{ lang.closeButtonLabel }}
			</span>
		</button>
		<input type="submit"
			   class="btn btn-primary  flex-grow-1"
			   name="{{ submitFieldName }}"
			   value="{{ lang.listOrdersCreateButton }}" />
	</div>
</form>