<button data-controller="ButtonLoadingComponent"
        data-action="ButtonLoadingComponent:showButton->ButtonLoadingComponent#handleMessageShowButton
                     ButtonLoadingComponent:showButtonLoading->ButtonLoadingComponent#handleMessageShowButtonLoading"
        class="d-flex  flex-row  justify-content-center  btn  btn-primary  flex-grow-1"
        title="{{ data.title }}"
        type="{{ data.type }}"
        {{data.selector}}>



      <div class="d-flex  flex-row  flex-nowrap  justify-content-center  align-items-center">
            <div class="spinner-border spinner-border-sm  me-2"
                 aria-hidden="true"
                 hidden
                 data-js-spinner>
            </div>

            {% if not data.icon is null %}

            <div class="{{ data.label == '' ? '' : 'me-1' }}">
                  {% include data.icon %}
            </div>

            {% endif %}

            <span role="status"
                  data-js-button-text>
                  {{ data.label }}
            </span>
      </div>

      <span role="status"
            data-js-button-text-loading>
            {{ data.loadingLabel }}
      </span>
</button>