<li class="list-group-item  list-group-item-action  btn-outline-danger  d-flex  flex-row  p-0  mt-1  mb-1  border border-1"
    data-controller="ShopListItemComponent"
    data-shop-id="{{ data.id }}"
    data-shop-name="{{ data.name }}">

    <label class="d-flex  flex-row  flex-grow-1">

        <input class="form-check-input m-2  align-self-center"
               type="checkbox"
               name="{{ data.shopsIdFieldName }}"
               value="{{ data.id }}"
               data-js-checkbox>

        <img class="img-thumbnail  flex-grow-0  rounded-0  border  border-0  border-start  border-end  shop-list-item-image  p-0"
             src="{{ data.image }}"
             alt="{{ lang.imageShopAlt }}"
             title="{{ lang.imageShopTitle }}"
             data-js-shop-image>

        <div class="d-flex  flex-column  flex-grow-1  ps-3  pe-3  p-2">

            <div class="d-flex  flex-row  justify-content-between">

                <p class="fs-4"
                   data-js-shop-name>
                    {{ data.name }}
                </p>

                <span class="fs-4  fw-lighter  fs-6">
                    {{ data.createdOn|format_datetime('medium', 'none', locale=app.request.locale) }}
                </span>
            </div>

            <ul class="list-group list-group-flush  ">
                <li class="list-group-item  border-0  bg-transparent  ps-3  pe-3  pt-0 pb-0"
                    data-js-shop-description>

                    {{ data.description }}
                </li>
            </ul>
        </div>
    </label>

    <button type="button"
            class="btn  flex-grow-0  ps-4  pe-4  rounded-0  border  border-0  border-start  border-end-0  btn-outline-primary"
            value="{{ data.id }}"
            alt="{{ lang.modifyShopButtonAlt }}"
            title="{{ lang.modifyShopButtonTitle }}"
            data-bs-toggle="modal"
            data-bs-target="#{{ data.shopModifyModalIdAttribute }}"
            data-action="ShopListItemComponent#triggerOnShopModify">

        {% include 'modify-icon-blue-24x24.svg' %}
    </button>

    <button type="button"
            data-js-remove-button
            class="btn  flex-grow-0  ps-4  pe-4  rounded-0  border  border-0  border-start  border-end  btn-outline-danger"
            value="{{ data.id }}"
            alt="{{ lang.removeShopButtonAlt }}"
            title="{{ lang.removeShopButtonTitle }}"
            data-bs-toggle="modal"
            data-bs-target="#{{ data.shopDeleteModalIdAttribute }}"
            data-action="ShopListItemComponent#triggerOnShopRemove">

        {% include 'remove-icon-red-24x24.svg' %}
    </button>
</li>