<form id="{{ formName }}"
	  name="{{ formName }}"
	  data-controller="ProfileComponent"
	  data-action="ImageAvatarComponent:imageRemoved->ProfileComponent#setImageAvatarAsRemoved  ImageAvatarComponent:imageRemovedUndo->ProfileComponent#setImageAvatarAsRemoved"
	  class="contaniner  p-5"
	  method="post"
	  action="{{ data.actionAttribute|escape('html_attr') }}"
	  enctype="multipart/form-data"
	  novalidate>

	<input type="hidden"
		   name="{{ tokenCsrfFieldName }}"
		   value="{{ data.csrfToken }}" />

	<input type="hidden"
		   name="{{ imageRemoveFieldName }}"
		   data-js-image-remove />

	{{ component('TitleComponent', { data: titleDto } ) }}

	{% if lang.validationErrors %}
	{{ component('AlertValidationComponent', { data: lang.validationErrors }) }}
	{% endif %}


	<div class="mb-5  d-flex justify-content-center">
		{{ component('ImageAvatarComponent', { data: imageAvatarDto }) }}
	</div>

	<div class="text-center  border-bottom d-grid gap-2">
		<button type="button"
				class="btn  rounded-0  pt-3 pb-3  d-inline-flex  btn-open-modal"
				data-bs-toggle="modal"
				data-bs-target="#email_modal">

			<div class="flex-grow-1">

				{{ data.email }}

				<br><span class="fs-6">{{ lang.emailPlaceholder }}</span>
			</div>

			{{ include('Components/User/Profile/img/arrow-right-icon.svg') }}
		</button>
	</div>

	<div class="mb-3  text-center  border-bottom  d-grid gap-2  btn-open-modal">
		<button type="button"
				class="btn  rounded-0  pt-3 pb-3  d-inline-flex"
				data-bs-toggle="modal"
				data-bs-target="#password_modal">

			<div class="flex-grow-1">

				{{ lang.passwordLabel }}

				<br><span class="fs-6">{{ lang.passwordPlaceholder }}</span>
			</div>

			{{ include('Components/User/Profile/img/arrow-right-icon.svg') }}
		</button>
	</div>

	<div class="mb-3">
		<label for="nick"
			   class="form-label">{{ lang.nickLabel }}</label>

		<input type="text"
			   class="form-control"
			   id="nick"
			   name="{{ nickFieldName }}"
			   placeholder="{{ lang.nickPlaceholder }}"
			   value="{{ data.nick }}"
			   minlength="1"
			   maxlength="30"
			   pattern="[A-Za-zÀ-ÿ0-9_\s]+"
			   required>

		<div class="invalid-feedback">{{ lang.nickMsgInvalid|nl2br }}</div>
	</div>

	<div class="mb-3">

		{{ component('DropZoneComponent', { data: dropZoneDto }) }}
	</div>

	<div class="mt-5">
		<input type="submit"
			   class="btn btn-primary w-100  mi-clase"
			   name="{{ submitFieldName }}"
			   value="{{ lang.saveButton }}" />
	</div>
</form>

<div class="contaniner  mt-5  p-5">
	<div class="text-center  border-bottom d-grid gap-2">
		<button type="button"
				class="btn rounded-0  pt-3 pb-3  d-inline-flex  btn-open-modal-danger"
				data-bs-toggle="modal"
				data-bs-target="#user_remove_modal">

			<div class="flex-grow-1">

				{{ lang.userRemoveLabel }}

				<br><span class="fs-6">{{ lang.userRemovePlaceholder }}</span>
			</div>

			{{ include('Components/User/Profile/img/arrow-right-icon.svg') }}
		</button>
	</div>
</div>

{{ component('ModalComponent', { data: data.emailModal }) }}
{{ component('ModalComponent', { data: data.passwordModal }) }}
{{ component('ModalComponent', { data: data.userRemoveModal }) }}