<form id="frm_signup"
	  name="{{ formName }}"
	  action="{{ data.formActionAttribute|escape('html_attr') }}"
	  data-controller="SignupComponent"
	  class="contaniner  p-5"
	  method="post"
	  enctype="multipart/form-data"
	  novalidate
	  data-recaptcha="{{ captchaFieldName }}">

	<input type="hidden"
		   name="{{ tokenCsrfFieldName }}"
		   value="{{ data.csrfToken }}" />

	{{ component('TitleComponent', { data: titleDto } ) }}

	{% if lang.validationErrors %}
	{{ component('AlertValidationComponent', { data: lang.validationErrors }) }}
	{% endif %}

	<div class="mb-3">
		<label for="email"
			   class="form-label">{{ lang.emailLabel }}</label>
		<input type="email"
			   class="form-control"
			   id="email"
			   name="{{ emailFieldName }}"
			   placeholder="{{ lang.emailPlaceholder }}"
			   value="{{ data.email }}"
			   required>
		<div class="invalid-feedback">{{ lang.emailMsgInvalid }}</div>
	</div>

	<div class="mb-3">
		<label for="password"
			   class="form-label">{{ lang.passwordLabel }}</label>
		<input type="password"
			   class="form-control"
			   id="password"
			   name="{{ passwordFieldName }}"
			   pattern=".{6,}"
			   placeholder="{{ lang.passwordPlaceholder }}"
			   value="{{ data.password }}"
			   required>
		<div class="invalid-feedback">{{ lang.passwordMsgInvalid }}</div>
	</div>

	<div class="mb-3">
		<label for="password_repeated"
			   class="form-label">{{ lang.passwordRepeatedLabel }}</label>
		<input type="password"
			   class="form-control"
			   id="password_repeated"
			   name="{{ passwordRepeatedFieldName }}"
			   pattern=".{6,}"
			   placeholder="{{ lang.passwordRepeatedPlaceholder }}"
			   value="{{ data.passwordRepeated }}"
			   required>
		<div class="invalid-feedback">{{ lang.passwordRepeatedMsgInvalid }}</div>
	</div>

	<div class="mb-3">
		<label for="nick"
			   class="form-label">{{ lang.nickLabel }}</label>
		<input type="text"
			   class="form-control"
			   id="nick"
			   name="{{ nickFieldName }}"
			   placeholder="{{ lang.nickPlaceholder }}"
			   value="{{ data.nick }}"
			   minlength="1"
			   maxlength="30"
			   pattern="[A-Za-zÀ-ÿ0-9_\s]+"
			   required>
		<div class="invalid-feedback">{{ lang.nickMsgInvalid }}</div>
	</div>

	<div class="mt-5">
		<input type="submit"
			   id="register_button"
			   class="btn btn-primary w-100"
			   name="{{ submitFieldName }}"
			   value="{{ lang.loginButton }}" />
	</div>

	<div class="mt-2  text-center">
		<a href="{{ path('user_login_home') }}">{{ lang.loginLink }}</a>
	</div>
</form>