<div class="d-flex flex-row  align-items-center"
     data-controller="GroupUsersListItemComponent">

    <input type="hidden"
           name="group_id"
           data-js-group-id
           value="{{ data.groupId }}">

    <input type="hidden"
           name="user_id"
           data-js-user-id
           data-user-name="{{ data.userName }}"
           value="{{ data.userId }}">

    <a class="position-relative  group-list-item-image  flex-grow-0  flex-shrink-0"
       href="#">

        <img class="img-thumbnail"
             src="{{ data.userImage }}"
             alt="{{ lang.imageGroupAlt }}">

        {% if data.admin %}

        <span class="position-absolute  bottom-0 start-0  badge  border-light text-bg-success">
            Admin
        </span>

        {% endif %}
    </a>
    <spam class="d-flex  flex-column  ms-3  me-2">
        {{ data.userName }}
    </spam>

    {% if data.userSessionIsAdmin %}

    <button class="ms-auto  align-self-center  btn"
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#group_user_remove_modal"
            data-js-group-remove-button>

        <img class="remove"
             src="{{ constant('API_DOMAIN', this) ~ '/assets/img/common/remove-icon.svg' }}"
             alt="{{ lang.removeGroupAlt }}">
    </button>

    {% endif %}
</div>